body{
  padding: 10%;
}
.form-control{
  width: 50%;
  display: inline ;
  margin-right: 2%;
}
.btn-success{
  border: none;
  border-radius: 15px;
  padding: 4px 9px;
}

.btn-danger{
  border: none;
  border-radius: 15px;
  padding: 2px 8px;
  margin-left: 2%;
}

.list{
  margin-top: 3%;
}

.btn:active:focus, .btn:focus {
  outline: none;
  /* outline-offset: -2px; */
}